.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
    background: var(--color-bg-variant);

}

.right .top button {
    display: none;
}

.right .top .profile {
    display: flex;
    gap:2rem;
    text-align:center;
}

.right .create-position {
    margin-top: 1rem;
}
.right .create-position h2 {
    margin-top: 0.8rem;
}

.right .create-position .form-position {
    background: var(--color-bg-variant);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    transition: var(--transition);
}

.right .create-position .form-position:hover {
    box-shadow: var(--box-shadow);
}

.right .create-position .form-position label {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    background: var(--color-info-dark);
    padding: 3px;
    border-radius: var(--border-radius-2);
    font-size: 1.4rem;
}    


.right .create-position .form-position label select {
 background: var(--color-dark-variant);
 color: var(--color-light);
 font-size: 1rem;
 border-radius: var(--border-radius-1);
}

.right .create-position .form-position label input {
    background: var(--color-dark-variant);
    color: var(--color-light);
    font-size: 1rem;
    border-radius: var(--border-radius-1);
    width: 50%;
   }

.right .create-position .form-position label select option {
   color: var(--color-light);
   background: var(--color-dark-variant);
  }



.right .create-position .form-position .buttons {
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.right .create-position .form-position .buttons button {
    font-size: 1.7rem;
    color: var(--color-white);
    padding: 0.5rem;    
    border-radius: var(--border-radius-2);  
}

.right .create-position .form-position .buttons .short {
    background: var(--color-sell);
}

.right .create-position .form-position .buttons .long {
    background: var(--color-buy);
}


/*   ============================================== Table Leaderboard ================================= */

.leaderboard {
    margin-top: 2rem;
}

.leaderboard h2 {
    margin-bottom: 0.8rem;
}

.leaderboard table{
    border-radius: var(--card-border-radius);
    background: var(--color-info-dark);
    width: 100%;
    text-align: center;
    padding: var(--card-padding);
}

.leaderboard tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
}

.leaderboard tbody tr:last-child td{
    border: none;
}

.leaderboard a{
text-align: center;
display: block;
margin: 1rem auto;
color: var(--color-light);
}

/* =============== ACA ESTARÍA PARA QUE SE HAGA RESPONSIVE ================ */
table {
    border-collapse: collapse;
    border-bottom: 0.3rem;
}
        
th,
td {
    padding: 0.8rem;
}

img {
    width: 30px;
    height: 30px;
}

tr {
    border-bottom: 1pt solid var(--color-light);
}

tbody {
    background-color: var(--color-bg-variant);
}

.table-container {
    padding: 8%;
}

@media screen and (max-width: 1024px) {
    thead {
        display: none;
    }
    tbody{
        font-size: 80%;
    }

    table{
        width: 100%;        
    }

    td {
        display: block;
    }

    td:nth-child(1) {
        background-color: var(--color-light);
        color: var(--color-light);
        align-items: center;
    }

    td:nth-child(2)::before {
        content: "Symbol";
    }

    td:nth-child(3)::before {
        content: "Price";
    }

    td:nth-child(4)::before {
        content: "Change";
        color: var(--color-white);
    }

    td:nth-child(5)::before {
        content: "Change %";
        color: var(--color-white);
    }

    td {
        text-align: right;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    td::before {
        float: left;
        margin-right: 0;
        font-weight: bold;
    }
}


@media screen and (max-width: 600px) {
    thead {
        display: none;
    }

    td {
        display: block;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    td:nth-child(1) {
        background-color: var(--color-light);
        color: var(--color-light);
        align-items: center;
    }

    td:nth-child(2)::before {
        content: "Symbol";
        color: var(--color-light);
    }

    td:nth-child(3)::before {
        content: "Price";
        color: var(--color-light);
    }

    td:nth-child(4)::before {
        content: "Change";
        color: var(--color-light);
    }

    td:nth-child(5)::before {
        content: "Change %";
        color: var(--color-light);
    }

    td {
        text-align: right;
    }

    td::before {
        float: left;
        margin-right: 3rem;
        font-weight: bold;
    }
}
