.right {
    margin-top: 1rem;
}

.right .create-position h2 {
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 1rem;
}

.right .create-position .form-position {
    background: var(--color-bg-variant);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    transition: var(--transition);
}

.right .create-position .form-position:hover {
    box-shadow: var(--box-shadow);
}

.right .create-position .form-position label {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    background: var(--color-info-dark);
    padding: 3px;
    border-radius: var(--border-radius-2);
    font-size: 1.2rem;
}

.right .create-position .form-position label select {
    border: 1px solid var(--color-bg-dark);
    background: var(--color-info-dark);
    color: var(--color-white);
    font-size: 1rem;
    border-radius: var(--border-radius-1);
    padding-left: 0.8rem;
}

.right .create-position .form-position label input {
    border: 1px solid var(--color-bg-dark);
    background: var(--color-info-dark);
    color: var(--color-white);
    font-size: 1.4rem;
    border-radius: var(--border-radius-1);
    width: 50%;
    padding-left: 1rem;
}


.right .create-position .form-position .buttons {
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.right .create-position .form-position .buttons button {
    font-size: 1.7rem;
    color: var(--color-white);
    padding: 0.5rem;
    border-radius: var(--border-radius-2);
}

.right .create-position .form-position .buttons button:hover {
    cursor: pointer;   
}


.right .create-position .form-position .buttons .short {
    background: var(--color-sell);
}

.right .create-position .form-position .buttons .long {
    background: var(--color-buy);
}


/*   ============================================== Coins ================================= */

.coins {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.coins h2 {
    margin-bottom: 0.8rem;
}

.coins table {
    font-size: 80%;
    border-radius: var(--card-border-radius);
    background: var(--color-info-dark);
    width: 100%;
    text-align: center;
    padding: var(--card-padding);
}

.coins table thead{
    font-size: 1.7rem;
}

.coins table tbody{
    font-size: 1.2rem;
}

.coins tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
}


.coins tbody tr:last-child tr {
    border: none;
}

.coins a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-light);
}

.coin .table-container .table-container__table .th-img-name {
    display: inline-block;
    vertical-align: baseline;
    gap: 0.2rem;
}


/*   ============================================== Message Alert ================================= */

.message_div_hidden{
    display: none;
}

.message_div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:block;
    font-size: 1.3rem;
    background: var(--color-bg-variant);
    color: var(--color-white);
    border-radius: var(--border-radius-2);
}

.message_div span {
    margin: 1rem;
}

/* =============== ACA ESTARÍA PARA QUE SE HAGA RESPONSIVE ================ */
table {
    border-collapse: collapse;
    border-bottom: 0.3rem;
}

th,
td {
    padding: 0.8rem;
}

img {
    width: 30px;
    height: 30px;
}

tr {
    border-bottom: 1pt solid var(--color-light);
}

tbody {
    background-color: var(--color-bg-variant);
}

.table-container {
    padding: 1% !important;
}

@media screen and (max-width: 1024px) {
    thead {
        display: none;
    }
    tbody {
        font-size: 80%;
    }

    table {
        width: 100%;
    }

    td {
        display: block;
    }

    td:nth-child(1) {
        background-color: var(--color-light);
        color: var(--color-light);
        align-items: center;
    }

    td:nth-child(2)::before {
        content: "Symbol";
    }

    td:nth-child(3)::before {
        content: "Price";
    }

    td:nth-child(4)::before {
        content: "Change";
        color: var(--color-white);
    }

    td:nth-child(5)::before {
        content: "Change %";
        color: var(--color-white);
    }

    td {
        text-align: right;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    td::before {
        float: left;
        margin-right: 0;
        font-weight: bold;
    }
}

@media screen and (max-width: 600px) {
    thead {
        display: none;
    }

    td {
        display: block;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    td:nth-child(1) {
        background-color: var(--color-light);
        color: var(--color-light);
        align-items: center;
    }

    td:nth-child(2)::before {
        content: "Symbol";
        color: var(--color-light);
    }

    td:nth-child(3)::before {
        content: "Price";
        color: var(--color-light);
    }

    td:nth-child(4)::before {
        content: "Change";
        color: var(--color-light);
    }

    td:nth-child(5)::before {
        content: "Change %";
        color: var(--color-light);
    }

    td {
        text-align: right;
    }

    td::before {
        float: left;
        margin-right: 3rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) {
    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }
}
