.finish_tournaments_page .container--1 {
    display:flex;
    width: 96%;
    margin: 2rem ;
    gap: 1.3rem;
}



/* ========================= MEDIA QUERY ======================== */
@media screen and (max-width: 1200px) {
    .finish_tournaments_page .container--1 {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
}

/* ========================= Small QUERY ======================== */
@media screen and (max-width: 768px) {
    .finish_tournaments_page .container--1 {
        width: 100%;
        margin-top: 4rem;
        padding: 0 1rem;
        grid-template-columns: 1fr;
    }
}
